<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='VidereStyle.css') }}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <title>Videre</title>
</head>
<body>
<div class="container justify-content-center" style="padding-top: 2%;">
    <div class="row">

        <div class="col-sm">
            <h3>{{camara_nome}}</h3>
            <div class="image-background">
              <div class="image-container">
                <img class="video" src="vd{{ vd_id }}" alt="" />
              </div>
            </div>
        </div>

        <div class="col-sm" style="padding: 10px;">
            <p>Brilho: <b id="valorB"> {{brilho}} </b></p>
            <input type="range" min="-100" max="100" value="{{brilho}}" class="slider" id="s1">
            <br>
            <p>Contraste: <b id="valorC"> {{contraste}}</b></p>
            <input type="range" min="-100" max="100" value="{{contraste}}" class="slider" id="s2">
            <br>
            <br>
            <div style="padding: 10px" class="border border-primary rounded divFiltros">
                {% for chave, valor in classes.items() %}
                    <input type="checkbox" id="{{chave}}" name="{{chave}}">
                    <label for="{{chave}}">{{valor}}</label><br>
                {% endfor %}
            </div>
            <br>
            <button>Apagar</button>
        </div>

    </div>
</div>
</body>

<script>
    $(document).on("click","#s1", function() {
         let valor = document.getElementById("s1").value
         document.getElementById("valorB").innerHTML = valor

         fetch(window.location.pathname, {
               headers : { 'Content-Type': 'application/json', 'Accept': 'application/json' },
               method: "POST",
               body: JSON.stringify({ valor: valor, tipo: "b" }),
          }).then(async (resposta) => {
               console.log(resposta.status)
          });
    })

     $(document).on("click","#s2", function() {
         let valor = document.getElementById("s2").value
         document.getElementById("valorC").innerHTML = valor

         fetch(window.location.pathname, {
               headers : { 'Content-Type': 'application/json', 'Accept': 'application/json' },
               method: "POST",
               body: JSON.stringify({ valor: valor, tipo: "c" }),
          }).then(async (resposta) => {
               console.log(resposta.status)
          });
    })
</script>

</html>