<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='VidereStyle.css') }}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <title>Videre</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-lg-8  offset-lg-2">
            <h3 class="mt-5">{{camara_nome}}</h3>
            <img src="vd{{ vd_id }}" width="75%">
        </div>

        <div>
            <p>Brilho</p>
            <input type="range" min="1" max="100" value="50" class="slider" id="s1" name="brilho">
            <br>
            <p>Contraste</p>
            <input type="range" min="1" max="100" value="50" class="slider" id="s2">
        </div>
    </div>
</div>
</body>

<script>
    $(document).on("click","#s1", function() {
         let valor = document.getElementById("s1").value
         fetch(window.location.pathname, {
               headers : { 'Content-Type': 'application/json', 'Accept': 'application/json' },
               method: "POST",
               body: JSON.stringify({ valor: valor }),
          }).then(async (resposta) => {
               console.log(resposta.status)
          });
    })
</script>

</html>