<!DOCTYPE html>
<html lang="en">
<head>
     <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='VidereStyle.css') }}">

     <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <meta charset="UTF-8">
    <title>Videre</title>
</head>
<body>
     <!-- Barra de navegação -->
        <nav class="navbar navbar-expand-md navbar-dark bg-primary text-white sticky-top">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <a class="navbar-brand">Videre</a>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav mr-auto">

                <li class="nav-item">
                    <a id="bnt_cmrs" class="nav-link" href="{{url_for('painel')}}">Câmaras</a>
                </li>
                   <li class="nav-item">
                    <a id="bnt_fic" class="nav-link active" href="{{url_for('carregaFicheiro.carregaFicheiros')}}">Carregar</a>
                </li>
                <li class="nav-item">
                    <a id="bnt_grl" class="nav-link" href="{{url_for('galeria.janelaGaleria')}}">Galeria</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('sobre')}}">Sobre</a>
                </li>
              </ul>
                <a id="bnt_desligar" class="btn btn-outline-light" href="{{url_for('desligar')}}">Sair</a>
            </div>
        </nav>

     <section>

        <div class="container" style="padding-top: 2%;">
             <h1>Processar um ficheiro</h1>
            <div class="" style="padding-top: 1%;">
                 <div id="espera" style="display: none;">
                         A processar . . .
                      </div>
                 <form method=post class="form-group" enctype=multipart/form-data>
                 <div class="row">
                    <div class="col-xs-12 col-md-8">

                        <input id="input" type=file style="width: 100%" name=file onchange="altera(event);">
                        <label class="">Escolha um PNG, JPG, JPEG ou MP4</label>
                        <div>
                            <button onclick="carregar();" class="btn btn-primary" style="margin-bottom: 5px;" type="submit">Carregar</button>
                        </div>

                        <img class="verfoto" id="inputImg" src="#" alt="">
                        <video class="video" id="inputVideo" src="#" style="display: none"></video>

                    </div>

                     <div class="col-xs-6 col-md-4">
                        <h2>Filtro</h2>
                        <section>
                            <input id="selecTudo" class="btn btn-primary" type="button" value="Selecionar Tudo">
                            <input style="margin: 10px" id="removeTudo" class="btn btn-primary" type="button" value="Remover Tudo">
                        </section>

                        <div style="padding: 10px" class="border border-primary rounded divFiltros">
                        {% for chave, valor in classes.items() %}
                            <input type="checkbox" id="{{chave}}" name="{{chave}}">
                            <label for="{{chave}}">{{valor}}</label><br>
                        {% endfor %}
                        </div>
                    </div>


                </div>
                 </form>
            </div>
            {% with msg = get_flashed_messages() %}
                {% if msg %}
                {% for m in msg %}
                    <div style="margin: 10px" class="alert alert-danger" role="alert">
                        {{ m }}
                    </div>
                {% endfor %}
                {% endif %}
            {% endwith %}
        </div>

     </section>

<script>
    function carregar() {
        document.getElementById("espera").style.display = "block";
    }

    function altera(event) {
        const file = event.target.files[0];
        var img = document.getElementById("inputImg");
        var video = document.getElementById("inputVideo");
        if(file) {
            var tipo = file.type.split('/');
            if(tipo[0] == "image") {
                video.src = "#";
                video.removeAttribute("controls");
                video.style.display = "none";
                img.src = URL.createObjectURL(file);
                img.onload = function() {
                    URL.revokeObjectURL(img.src);
                }
            }
            if(tipo[0] == "video") {
                img.src = "#";
                video.style.display = "block";
                video.src = URL.createObjectURL(file);
                video.onload = function() {
                    URL.revokeObjectURL(video.src);
                }
                video.setAttribute("controls", true);
            }
        } else {
            img.src = "#";
            video.src = "#";
            video.removeAttribute("controls");
            video.style.display = "none";
        }
    }

    $('#selecTudo').click(function(event) {
        $(':checkbox').each(function() {
            this.checked = true;
        });
    });

    $('#removeTudo').click(function(event) {
        $(':checkbox').each(function() {
            this.checked = false;
        });
    });
</script>
</body>
</html>