<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='VidereStyle.css') }}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Videre</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary text-white sticky-top">
        <button class="navbar-toggler btn btn-primary" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <a class="navbar-brand">Videre</a>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mr-auto">

            <li class="nav-item">
                <a id="bnt_cmrs" class="nav-link" href="{{url_for('painel')}}">Câmaras</a>
            </li>

            <li class="nav-item">
                <a id="bnt_grl" class="nav-link active">Galeria</a>
            </li>
            <li class="nav-item">
                <a id="bnt_desligar" class="nav-link" href="{{url_for('desligar')}}">Sair</a>
            </li>
          </ul>


        </div>


        <button id="menu-toggle" class="btn btn-primary" type="button">
          <span class="navbar-toggler-icon"></span>
        </button>


    </nav>
    <div class="container-fluid">

        <div class="row">

            <div id="wrapper" class="toggled"> <!-- sidebar/navbar -->

                <div id="sidebar-wrapper" class="bg-primary text-white">
                    <div style="padding: 5px;">
                    <h1>Filtros</h1>
                        <div class="divFiltros" >
                            {%for i in classes %}
                                <input type="checkbox" class="filtro" id="{{i}}" name="{{i}}" value="{{i}}" checked>
                                <label for="{{i}}">{{i}}</label><br>
                            {% endfor %}
                        </div>
                    <h1>Coisas</h1>
                    asdawssssssss
                    sdsadasd
                    asd
                    </div>
                </div>


            <div class="container-fluid d-flex" id="bloco-fotos"> <!-- main area -->
                <div class="row d-flex justify-content-center">
                     {%for i in fotos %}
                        <div class="card {{ fotos[i] }}">
                             <a href="/verimagem/{{i}}">
                                <img class="cartaFoto" width="240" height="240" src="foto/{{i}}">
                             </a>
                        </div>
                     {% endfor %}
                </div>
            </div>

        </div>
        </div>
    </div>

</body>
<script>
    $(document).on("click",".filtro", function() {
        if (this.checked == true) {
           var filtro = document.getElementsByClassName(this.value);
            for (var i = 0; i < filtro.length; i ++) {
                filtro[i].style.display = 'block';
            }
        } else {
            var filtro = document.getElementsByClassName(this.value);
            for (var i = 0; i < filtro.length; i ++) {
                filtro[i].style.display = 'none';
            }
        }
    })

     $(function(){
            $("#menu-toggle").click(function(e) {
                e.preventDefault();
                $("#wrapper").toggleClass("toggled");
            });

            $(window).resize(function(e) {
              if($(window).width()<=768){
                $("#wrapper").removeClass("toggled");
              }else{
                $("#wrapper").addClass("toggled");
              }
            });
          });

</script>
</html>