<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='VidereStyle.css') }}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Videre</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary text-white sticky-top">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <a class="navbar-brand">Videre</a>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mr-auto">

            <li class="nav-item">
                <a id="bnt_cmrs" class="nav-link" href="{{url_for('painel')}}">Câmaras</a>
            </li>

            <li class="nav-item">
                <a id="bnt_grl" class="nav-link active">Galeria</a>
            </li>
            <li class="nav-item">
                <a id="bnt_desligar" class="nav-link" href="{{url_for('desligar')}}">Sair</a>
            </li>
          </ul>

        </div>
    </nav>
    <div class="container-fluid">

        <div class="row">

            <div class="col-md-2" id="barra-pesquisa"  style="background-color: coral;"> <!-- sidebar/navbar -->
                <h1>Filtros</h1>
                    <div class="divFiltros" >
                        {%for i in classes %}
                            <input type="checkbox" class="filtro" id="{{i}}" name="{{i}}" value="{{i}}" checked>
                            <label for="{{i}}">{{i}}</label><br>
                        {% endfor %}
                    </div>
                <h1>Filtros</h1>
                asdaw
            </div>


            <div class="col-md-8 container-fluid d-flex justify-content-left" id="bloco-fotos"> <!-- main area -->
                <div class="row d-flex justify-content-center">
                     {%for i in fotos %}
                        <div class="card">
                             <img class="cartaFoto" width="240" height="240" src="foto/{{i}}">
                        </div>
                     {% endfor %}
                </div>
            </div>


        </div>
    </div>

</body>
<script>
    $(document).on("click",".filtro", function() {
        if (this.checked == true) {
            console.log(this.value);
        } else {
            console.log("not " + this.value);
        }
    })
</script>
</html>