<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='VidereStyle.css') }}">

    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <title>Videre</title>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-primary text-white sticky-top">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand">Videre</a>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="{{url_for('login')}}">Login</a>
                </li>
                   <li class="nav-item">
                    <a class="nav-link" href="{{url_for('sobre')}}">Sobre</a>
                </li>
              </ul>
            </div>
        </nav>



    <div class="container" style="padding-top: 2%;">
        <form id="caixaDeLogin" method="post">
            <div class="form-group">
                <img src="static/img/eye.png" id="logo">
                <h2 class="text-center">Login</h2>
                <label>Utilizador</label> <br>
                <input name="userNome" type="text" class="form-control">
                <br>
                <label>Senha</label> <br>
                <input name="userSenha" type="password" class="form-control">
                <br>

                <p><input type="submit" class="btn btn-primary" value="Entrar"></p>

                {% with msg = get_flashed_messages() %}
                    {% if msg %}
                        <div class="alert alert-danger" role="alert">
                            {% for m in msg %}
                                {{ m }}
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endwith %}

            </div>
        </form>
    </div>

</body>
</html>