<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='VidereStyle.css') }}">

    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <title>Videre</title>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-primary text-white sticky-top">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand">
                <img src="static/img/eyeLogoBar.png" width="55" height="30" alt="">
            </a>
            <a class="navbar-brand">Videre</a>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('login')}}">Login</a>
                </li>
                   <li class="nav-item">
                    <a class="nav-link active" href="{{url_for('registo')}}">Registar</a>
                </li>
                   <li class="nav-item">
                    <a class="nav-link" href="{{url_for('sobre')}}">Sobre</a>
                </li>
              </ul>
            </div>
        </nav>



    <div class="container" style="padding-top: 2%;">
        <form method="post">
            <div class="form-group" id="caixaDeRegisto">
                <label id="lb_user">Nome de utilizador</label> <br>
                <input type="text" class="form-control" name="nomeUser">
                <br>
                <label id="lb_senha">Senha</label> <br>
                <input type="password" class="form-control" name="senhaUser">
                <br>
                <input type="submit" value="Registar" class="btn btn-primary mb-2">

                {% with msg = get_flashed_messages() %}
                    {% if msg %}
                        <div class="alert alert-danger" role="alert">
                            {% for m in msg %}
                                {{ m }}
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endwith %}

            </div>
        </form>
    </div>

</body>
</html>