<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='VidereStyle.css') }}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Videre</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary text-white sticky-top">
        <button class="navbar-toggler btn btn-primary" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <a class="navbar-brand">Videre</a>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mr-auto">

            <li class="nav-item">
                <a id="bnt_cmrs" class="nav-link" href="{{url_for('painel')}}">Câmaras</a>
            </li>

            <li class="nav-item">
                <a id="bnt_grl" class="nav-link active" href="{{url_for('galeria.janelaGaleria')}}">Galeria</a>
            </li>
            <li class="nav-item">
                <a id="bnt_desligar" class="nav-link" href="{{url_for('desligar')}}">Sair</a>
            </li>
          </ul>
        </div>
    </nav>
     <div class="container">
        <h3>Capturada em: X/Y/Z</h3>
        <img class="rounded mx-auto d-block" src="/foto/{{ img }}">
     </div>
</body>

</html>