<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='VidereStyle.css') }}">

    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <title>Videre</title>
</head>

<body>
     <!-- Barra de navegação -->
        <nav class="navbar navbar-expand-md navbar-dark bg-primary text-white sticky-top">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand">
                <img src="{{ url_for('static', filename='img/eyeLogoBar.png') }}" width="55" height="30" alt="">
            </a>
            <a class="navbar-brand">Videre</a>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav mr-auto">

                <li class="nav-item">
                    <a id="bnt_cmrs" class="nav-link" href="{{url_for('painel')}}">Câmaras</a>
                </li>
                   <li class="nav-item">
                    <a id="bnt_fic" class="nav-link" href="{{url_for('carregaFicheiro.carregaFicheiros')}}">Carregar</a>
                </li>
                <li class="nav-item">
                    <a id="bnt_grl" class="nav-link active" href="{{url_for('galeria.janelaGaleria')}}">Galeria</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('sobre')}}">Sobre</a>
                </li>
              </ul>
                 <b style="padding-right: 10px;" id="utilizador"></b>
                <a id="bnt_desligar" class="btn btn-outline-light" href="{{url_for('desligar')}}">Sair</a>
            </div>
        </nav>

     <div class="container">

         {% if dono == True %}
          <h3 id="data">Capturada em:</h3>
         {% else %}
            <br>
         {% endif %}
        <img class="rounded mx-auto d-block verfoto" src="/foto/{{ img }}">


         {% if dono == True %}
             <form method="post">
                <input id="bntapagar" style="margin: 10px;" class="btn btn-danger" type="submit" name="apagaimg" value="Apagar">
             </form>
         {% endif %}
     </div>
</body>
<script>
 {% if dono == True %}
    var utcDate = '{{data}}';
    var localDate = new Date(utcDate);
    var options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };

    document.getElementById("data").innerHTML = "Capturada em: " + localDate.toLocaleTimeString('pt-PT', options);
    {% endif %}

    fetch("/usernome", {
       headers : { 'Content-Type': 'application/json', 'Accept': 'application/json' },
       method: "GET",
    }).then(async (resposta) => {
       const valor = await resposta.text();
       console.log(valor)
       document.getElementById("utilizador").innerHTML = valor
    });
</script>
</html>